$primary-color: #1b9b1b;
$primary-text: #c2ccc6;
$background-color: #14171d;
$muted-color: #5f626d;

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 200vh;
  background-image: linear-gradient(to right, #13161d, #0f1015);
}

.scroll-button {
  opacity: 0;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $primary-color;
  transition: 250ms;
  cursor: pointer;

  i {
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    width: 4rem;
    font-size: 32px;
    color: $primary-text;
    transition: 250ms;

    &:hover {
      transform: scale(1.15);
      transition: 250ms;
    }
  }

  &:hover {
    background: #22c022;
    transition: 250ms;
  }
}

.show {
  opacity: 1;
}

.action-button {
  position: fixed;
  bottom: 50%;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background: $primary-color;
  border: #126312 solid 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;

  i {
    text-align: center;
    vertical-align: middle;
    line-height: 4.5rem;
    width: 4.5rem;
    font-size: 48px;
    color: $primary-text;
    transition: 250ms;
  }

  &:hover {
    background: #22c022;
    transition: 250ms;
  }
}

.active {
  transform: rotate(45deg);
  transition: 250ms;
  background-color: rgb(37, 37, 37);
  border: rgb(51, 50, 50) solid 5px;

  &:hover {
    background: rgb(80, 79, 79);
    transition: 250ms;
  }
}

.menu-item {
  transition: 250ms;
  transition-delay: 0.3s;

  position: fixed;
  bottom: 50%;
  right: 1.25rem;
  width: 4rem;
  height: 4rem;
  background: $primary-color;
  border: #126312 solid 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;

  i {
    text-align: center;
    vertical-align: middle;
    line-height: 4rem;
    width: 4rem;
    font-size: 36px;
    color: $primary-text;
    transition: 250ms;
  }

  &:hover {
    background: #22c022;
    transition: 250ms;
  }
}

.menu-item1 {
  &.shown {
    right: 6rem;
    bottom: 62.5%;
    transition: 250ms;
  }
}

.menu-item2 {
  &.shown {
    right: 8rem;
    bottom: 50%;
    transition: 250ms;
  }
}

.menu-item3 {
  &.shown {
    right: 6rem;
    bottom: 37.5%;
    transition: 250ms;
  }
}

.active2 {
  transition: 250ms;
  background-color: rgb(37, 37, 37);
  border: rgb(51, 50, 50) solid 5px;

  &:hover {
    background: rgb(80, 79, 79);
    transition: 250ms;
  }
}

.menu-item31 {
  z-index: 3;
  opacity: 0;
  right: 6rem;
  bottom: 37.5%;
  transition: 250ms;

  &.shown {
    opacity: 1;
    right: 9.5rem;
    bottom: 27.5%;
  }
}

.menu-item32 {
  z-index: 3;
  opacity: 0;
  right: 6rem;
  bottom: 37.5%;
  transition: 250ms;

  &.shown {
    opacity: 1;
    right: 2.5rem;
    bottom: 27.5%;
  }
}
